/*
%name - reusable styles (used @extend %name)
@mixin name - function (used @include name(param))
$name - variable
*/
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600&display=swap");
.setting-row-wrap .setting-row .setting-button-wrap div svg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

#controls #output #copy-output {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

#board #board-note-wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

body {
  margin: 0;
}

*:not(#output) {
  user-select: none;
}

.inset {
  z-index: 1;
}

:not(.inset) {
  z-index: 2;
}

header {
  height: 50px;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: #006b8c;
  box-shadow: 0px 10px 10px #070707;
  padding-left: 25px;
  display: flex;
  align-items: center;
}
header p {
  font-family: "Miriam Libre", "Segoe UI", sans-serif, monospace;
  color: #e8e8e8;
  font-weight: 900;
  font-size: 20px;
}

p {
  cursor: default;
}

#board {
  height: calc(60vh - 25px);
  width: 100%;
  top: 50px;
  position: relative;
  background: #191919;
}
#board #board-note-wrap {
  height: 80%;
  width: 100%;
}
#board #board-note-wrap .note-row {
  height: calc(100% / 14);
  cursor: pointer;
  color: #e8e8e8;
  padding-left: 15px;
  box-sizing: border-box;
  font-family: "Miriam Libre", "Segoe UI", sans-serif, monospace;
  font-weight: 900;
  display: flex;
  align-items: center;
}
#board #board-note-wrap .note-row:hover {
  filter: brightness(80%);
}

#controls {
  height: calc(40vh - 25px);
  width: 100%;
  bottom: 0;
  position: absolute;
  box-shadow: 0px -10px 10px #070707;
  display: flex;
}
#controls .control-section {
  position: relative;
  box-sizing: border-box;
  background: #191919;
}
#controls #board-options {
  flex: 1;
}
#controls #output {
  flex: 3;
  padding: 25px;
  background: #333;
  color: #e8e8e8;
  font-family: "Source Code Pro", Courier, monospace;
  user-select: text;
}
#controls #output #copy-output {
  padding: 8px;
  background: #191919;
  cursor: pointer;
  border-radius: 3px;
  text-align: center;
  line-height: 30px;
  height: 30px;
  bottom: 15px;
  color: #00b7ff;
  font-weight: 700;
  font-family: "Ubuntu", sans-serif;
  width: 120px;
  box-shadow: 0px 0px 10px #070707;
}
#controls #output #copy-output:hover {
  background: #282828;
  color: #00b7ff;
}
#controls #settings {
  background: #191919;
  flex: 1;
  height: 100%;
}

.setting-row-wrap {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 25px;
  position: relative;
}
.setting-row-wrap .setting-row {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.setting-row-wrap .setting-row p {
  font-family: "Montserrat", sans-serif;
  color: #e8e8e8;
  font-size: 12px;
  font-weight: 500;
}
.setting-row-wrap .setting-row .setting-button-wrap {
  display: flex;
  width: 100%;
  left: 0;
  right: 0;
  padding-right: 25px;
  padding-left: 25px;
  box-sizing: border-box;
}
.setting-row-wrap .setting-row .setting-button-wrap div {
  font-family: "Ubuntu", sans-serif;
  height: 30px;
  cursor: pointer;
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
  line-height: 30px;
  flex: 1;
  text-align: center;
  font-weight: 700;
}
.setting-row-wrap .setting-row .setting-button-wrap div svg {
  color: #00b7ff;
  height: 75%;
}
.setting-row-wrap .setting-row .setting-button-wrap div:hover:not(.setting-button-active) {
  background: #333;
}
.setting-row-wrap .setting-row .setting-input-wrap {
  display: flex;
  justify-content: center;
}
.setting-row-wrap .setting-row .setting-input-wrap input {
  width: 80%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-family: "Ubuntu", sans-serif;
  outline: none;
}
.setting-row-wrap .setting-row .setting-range-wrap {
  display: flex;
  justify-content: center;
}
.setting-row-wrap .setting-row .setting-range-wrap input {
  width: 80%;
}

.setting-button-active {
  background: #00b7ff;
  color: #282828;
}

.setting-button:not(.setting-button-active) {
  background: #282828;
  color: #00b7ff;
}

.note-row {
  width: 100%;
  position: relative;
}