@use "ext";

body {
	margin: 0;
	// overflow: hidden;
}

*:not(#output) {
	user-select: none;
}

.inset {
	z-index: 1;
}

:not(.inset) {
	z-index: 2;
}

header {
	height: 50px;
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background: ext.$theme-blue-dark;
	box-shadow: 0px 10px 10px ext.$theme-black-dark;
	padding-left: 25px;
	display: flex;
	align-items: center;
	p {
		font-family: ext.$theme-font-title;
		color: ext.$theme-white;
		font-weight: 900;
		font-size: 20px;
	}
}

p {
	cursor: default;
}

#board {
	height: calc(60vh - 25px);
	width: 100%;
	top: 50px;
	position: relative;
	background: ext.$theme-black-medium;
	#board-note-wrap {
		height: 80%;
		width: 100%;
		@extend %center-y;
		.note-row {
			height: calc(100% / 14);
			cursor: pointer;
			color: ext.$theme-white;
			padding-left: 15px;
			box-sizing: border-box;
			font-family: ext.$theme-font-title;
			font-weight: 900;
			display: flex;
			align-items: center;
			&:hover {
				filter: brightness(80%);
			}
		}
	}
	
}

#controls {
	height: calc(40vh - 25px);
	width: 100%;
	bottom: 0;
	position: absolute;
	box-shadow: 0px -10px 10px ext.$theme-black-dark;
	display: flex;
	.control-section {
		position: relative;
		box-sizing: border-box;
		background: ext.$theme-black-medium;
	}
	#board-options {
		flex: 1;
	}
	#output {
		flex: 3;
		padding: 25px;
		background: ext.$theme-gray;
		color: ext.$theme-white;
		font-family: ext.$theme-font-monospace;
		user-select: text;
		#copy-output {
			padding: 8px;
			background: ext.$theme-black-medium;
			cursor: pointer;
			border-radius: 3px;
			text-align: center;
			line-height: 30px;
			height: 30px;
			@extend %center-x;
			bottom: 15px;
			color: ext.$theme-blue-light;
			font-weight: 700;
			font-family: ext.$theme-font-paragraph;
			width: 120px;
			box-shadow: 0px 0px 10px ext.$theme-black-dark;
			&:hover {
				background: ext.$theme-black-light;
				color: ext.$theme-blue-light;
			}
		}
	}
	#settings {
		background: ext.$theme-black-medium;
		flex: 1;
		height: 100%;
	}
}

.setting-row-wrap {
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	padding: 25px;
	position: relative;
	.setting-row {
		width: 100%;
		display: flex;
		flex-direction: column;
		margin-bottom: 10px;
		p {
			font-family: ext.$theme-font-subtitle;
			color: ext.$theme-white;
			font-size: 12px;
			font-weight: 500;
		}
		.setting-button-wrap {
			display: flex;
			width: 100%;
			left: 0;
			right: 0;
			padding-right: 25px;
			padding-left: 25px;
			box-sizing: border-box;
			// justify-content: space-evenly;
			div {
				font-family: ext.$theme-font-paragraph;
				height: 30px;
				cursor: pointer;
				position: relative;
				padding-top: 5px;
				padding-bottom: 5px;
				line-height: 30px;
				flex: 1;
				text-align: center;
				font-weight: 700;
				svg {
					color: ext.$theme-blue-light;
					@extend %center;
					height: 75%;
				}
				&:hover:not(.setting-button-active) {
					background: ext.$theme-gray;
					// color: ext.$theme-black-light;
				}
			}
		}
		.setting-input-wrap {
			display: flex;
			justify-content: center;
			input {
				width: 80%;
				padding: 10px;
				border-radius: 5px;
				border: none;
				font-family: ext.$theme-font-paragraph;
				outline: none;
			}
		}
		.setting-range-wrap {
			display: flex;
			justify-content: center;
			input {
				width: 80%;
			}
		}
	}
}


.setting-button-active {
	background: ext.$theme-blue-light;
	color: ext.$theme-black-light;
}

.setting-button:not(.setting-button-active) {
	background: ext.$theme-black-light;
	color: ext.$theme-blue-light;
}

.note-row {
	width: 100%;
	position: relative;
}